@import "bourbon"
@import "icon.sass"
@import "mixins"

$color: #f4c409
$font: 'Montserrat', sans-serif

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
  color: #eee

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #fff

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none	

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font
	&:-internal-autofill-selected
		background-color: transparent !important

%container
	width: 100%
	max-width: 1170px	
	padding: 0 15px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container


.main
	&__inner
		display: table
		table-layout: fixed
		width: 100%
	&__sidebar,
	&__content
		display: table-cell
		vertical-align: top
	&__sidebar
		width: 30%

.response
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 8
	overflow: auto
	background-color: rgba(0, 0, 0, 0.5)
	display: none
	&__wrapper
		height: 100%
		width: 100%
	&__inner
		vertical-align: middle
		padding: 15px
	&__box
		background-color: #fff
		width: 100%
		max-width: 570px
		position: relative
		overflow: hidden
		margin: 0 auto
		padding: 45px
		box-shadow: 0 0 50px rgba(0,0,0,.5)
		text-align: center
	&__close
		position: absolute
		top: 15px
		right: 15px
		width: 20px
		height: 20px
		padding: 0
		border: none
		background-color: transparent
		background-image: url(../img/icon-close-response.png)
		cursor: pointer
	&__title
		font-size: 30px
		margin: 0 0 20px
		color: #5283c5
	&__text
		font-size: 18px
		color: #737373
		margin: 0

@import "shop"


//ALWAYS END
@import "media"
