@import "bourbon"
@import "icon.sass"
@import "mixins"

$color: #f4c409
$font: 'Montserrat', sans-serif

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
	color: #bbb

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #fff
	color: #2a2a2a

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none	

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font
	&:-internal-autofill-selected
		background-color: transparent !important

%container
	width: 100%
	max-width: 1170px	
	padding: 0 15px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container


.main
	&__inner
		display: table
		table-layout: fixed
		width: 100%
		padding: 50px 0
	&__sidebar,
	&__content
		display: table-cell
		vertical-align: top
	&__sidebar
		width: 30%
		padding-right: 40px
	&__title
		font-size: 24px
		text-transform: uppercase
		margin: 0 0 15px

.header
	position: relative
	z-index: 2
	background-color: #fff
	&::before
		content: ''
		width: 100%
		height: 4px
		position: absolute
		left: 0
		background-color: #1f1c63
		background-image: linear-gradient(to left,  #1f1c63, #5ea6fa)
	&::before
		top: 0
	&__inner
		display: flex
		align-items: center
		justify-content: space-between
		padding: 18px 0 15px
	&__logo
		max-width: 250px
	&__contacts
		display: flex
		align-items: center
		justify-content: space-between
	&__phone
		text-align: right
		white-space: nowrap
		margin-left: 15px
		a
			font-size: 26px
			display: block
			color: inherit
			text-decoration: none
			&:hover
				color: #3a5ca4
		p
			margin: 0
			color: #999
	&__address
		line-height: 1.6
		p
			margin: 0



.lk
	&__item
		display: block
		color: inherit
		text-decoration: none
		line-height: 1
		font-size: 13px
		padding: 0
		background-color: transparent
		border: none
		cursor: pointer
		&+&
			margin-top: 10px
		&:hover
			text-decoration: underline
		&::before
			@extend %icon
			font-size: 15px
			position: relative
			top: 2px
			margin-right: 5px
			color: #1f1c63
			display: inline-block
		&--lk::before
			content: '\e902'
		&--reg::before
			content: '\e903'
		&--basket::before
			content: '\e904'


.btn
	display: inline-block
	text-decoration: none
	color: inherit
	border-radius: 50px
	font-size: 17px
	font-weight: 500
	padding: 10px 23px
	cursor: pointer
	color: #fff
	background-color: #24227b
	background-image: linear-gradient(to right, #24227b, #2a9bd7)
	border: none
	transition: all .1s
	&--ghost
		background-color: transparent
		background-image: none
		color: #3a5ca4
		border: 2px solid #3a5ca4
		&:hover
			background-color: #3a5ca4
			color: #fff
	&:hover
		transform: scale(1.1)
	

.nav
	opacity: .99
	position: relative
	z-index: 1
	box-shadow: 0 5px 15px rgba(0,0,0,.2)
	&::before
		content: ''
		background-image: linear-gradient(to right,  #1f1c63, #5ea6fa)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__inner
		display: flex
		justify-content: space-between
		align-content: center
		position: relative
		z-index: 5
		padding: 4px 0
	&__item
		color: #fff
		text-decoration: none
		font-size: 20px
		line-height: 1
		font-weight: 300
		padding-bottom: 3px
		transition: all .2s
		padding: 15px 10px
		&--hasSubMenu
			position: relative
			margin-left: 35px
			&::before
				content: '\e906'
				@extend %icon
				position: absolute
				left: -35px
				color: #fff
		&:hover
			background-color: #fff
			color: #3a5ca4
	&__menu
		position: absolute
		z-index: -1
		top: 100%
		left: 0
		width: 100%
		background-color: #fff
		transform: translateY(-101%)
		transition: all .2s ease-out
		&::after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 4px
			background-image: linear-gradient(to right,  #1f1c63, #5ea6fa)
		.menu
			max-width: 1170px
			background-color: transparent
			margin: 0 auto
			columns: 3
			&__item
				ul
					display: block
	&.showSub
		.nav__menu
			transform: translateY(0)

.menu
	background-color: #f2f6fb
	padding: 15px 15px 23px
	&__item
		color: #000
		font-weight: 700
		position: relative
		margin-top: 8px
		a
			text-decoration: none
			color: inherit
			&:hover
				color: #5ea6fa
		ul
			display: none
		span
			cursor: pointer
		.menu__item
			font-weight: 400
			width: 100%
		&.active
			color: #5ea6fa
			font-weight: 700
			ul
				display: block

.search
	border: 1px solid #eee
	border-radius: 50px
	overflow: hidden
	position: relative
	transition: all .2s
	box-shadow: 0 0 0 transparent
	margin-bottom: 20px
	&::before
		content: '\e907'
		@extend %icon
		font-size: 20px
		color: #1f1c63
		position: absolute
		top: 8px
		left: 12px
		transition: all .2s
		opacity: .5
	input
		width: 100%
		border: none
		padding: 10px 15px 10px 45px
		margin: 0
	&.focus
		box-shadow: 0 0 10px rgba(0,0,0,.05)
		&::before
			opacity: 1

.photoGallery
	margin: 30px 0 0
	font-size: 0
	img
		height: 200px

.contacts
	margin: 30px 0 0
	background-color: #f8f8f8
	&__head
		display: table
		table-layout: fixed
		width: 100%
		font-size: 0
	&__photo
		background-image: url(img/map.jpg)
		background-size: cover
		display: table-cell
		vertical-align: top
	&__map
		display: table-cell
		vertical-align: top
	&__body
		padding: 25px
		overflow: auto
	&__caption
		display: block
		font-size: 24px
		font-weight: 700
		text-transform: uppercase
		margin: 10px 0 20px
	&__left
		width: 60%
		float: left
	&__right
		width: 40%
		text-align: right
		float: right
		position: relative
	&__list
		list-style-type: none
		margin: 0
		padding: 0
	&__item
		margin-bottom: 15px
		font-size: 16px
		a
			&:hover
				color: #3a5ca4
		&:last-child
			margin-bottom: 0
		&--address
			.contacts__desc
				display: block
	&__term
		text-transform: uppercase
		margin-right: 8px
	&__desc
		font-weight: 700
		color: inherit
		text-decoration: none


.footer
	padding: 120px 0 60px
	position: relative
	&::before
		content: ''
		background-image: linear-gradient(to right,  #1f1c63, #5ea6fa)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 58px
	&__inner
		display: flex
		justify-content: space-between
	&__logo
		max-width: 250px
		position: relative
		top: -25px
	&__disclamer
		margin: 80px 0 0
		font-size: 15px
		color: #bcbcbc
		text-align: center
	&__menu
		ul
			li
				display: block
			li+li
				margin-top: 10px
			a
				text-decoration: none
				color: #000
				font-weight: 500
				font-size: 15px
				line-height: 1
				&:hover
					text-decoration: underline
	&__additional
		max-width: 250px
		&-caption
			margin: 0 0 5px
			font-weight: 500
			color: #000
		ul
			li
				display: block
			a
				text-decoration: none
				color: inherit
				&:hover
					text-decoration: underline
	&__payments
		margin-top: 50px
		&-caption
			margin: 0 0 5px
			font-weight: 500
			color: #000
		&-text
			margin: 0
		&-icons
			margin: 25px 0 10px
			i
				display: inline-block
				font-size: 40px
				line-height: 1
				&::before
					@extend %icon
				&:nth-child(1)::before
					content: '\e90b'
				&:nth-child(2)::before
					content: '\e90a'
				&:nth-child(3)::before
					content: '\e909'
				&:nth-child(4)::before
					content: '\e908'
			i+i
				margin-left: 5px
		&-credit
			color: #3a5ca4
			text-decoration: none
			font-size: 18px
			font-weight: 500
			&:hover
				text-decoration: underline
	&__contacts
		text-align: right
		white-space: nowrap
		&-phone
			font-size: 26px
			color: inherit
			text-decoration: none
			&:hover
				color: #3a5ca4
		&-hours
			color: #999
			margin: 0
		&-address
			margin-top: 8px
			p
				line-height: 1.6
				margin: 0
		&-btn
			margin-top: 10px


.hero
	position: relative
	img
		display: block
		width: 100%
	&__text
		text-transform: uppercase
		color: #fff
		position: absolute
		top: 15px
		left: 15px
		margin: 0
		text-align: center
		font-size: 25px
		line-height: 1.2
		font-weight: 500
	&__btn
		background-color: transparent
		display: table
		margin: 15px auto 0
		color: #5cb2e0
		border: 2px solid #2a9bd7
		cursor: pointer
		transition: all .2s
		border-radius: 50px
		padding: 9px 20px
		font-size: 16px
		&:hover
			transform: scale(1.1)
			background-color: #2a9bd7
			color: #fff


.content
	margin-top: 15px
	h1
		font-size: 24px
		text-transform: uppercase
		margin: 0 0 15px
	ul
		list-style-type: disc
		list-style-position: inside
		margin-left: 15px


.overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 7
	background-color: rgba(0, 0, 0, 0.3)

.callback,
.registration
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 8
	overflow: auto
	display: none
	text-align: left
	&__wrapper
		height: 100%
		width: 100%
	&__inner
		vertical-align: middle
		padding: 15px
	&__box
		background-color: #fafafa
		width: 100%
		max-width: 500px
		position: relative
		overflow: hidden
		margin: 0 auto
		padding: 15px 20px 20px 
		border-radius: 3px
	&__close
		position: absolute
		top: 8px
		right: 5px
		border: none
		background: transparent
		cursor: pointer
		outline: none
		opacity: .5
		&:before
			@extend %icon
			content: '\e90e'
			width: 15px
			height: 15px
			top: 6px
			left: 0
		&:hover
			opacity: 1
	&__title
		text-transform: uppercase
		font-size: 25px
		margin: 0
		color: #3a5ca4
		font-weight: 500
	&__text
		margin: 0
	&__tail
		margin: 20px 0 20px -40px
		transform: translate(20px)
		border-left: 3px solid #3a5ca4
		border-right: 3px solid #3a5ca4
		padding: 25px 17px
		background-color: #ececec
	&__group
		position: relative
		&+&
			margin-top: 20px
	&__label
		font-size: 14px
		color: #555
		position: absolute
		top: 10px
		left: 15px
		cursor: pointer
		strong
			color: #ff0000
	&__field
		background-color: #fff
		border: none
		width: 100%
		border-radius: 3px
		padding: 10px 15px
		font-size: 16px
	&__submit
		display: table
		margin: 0 auto
		background-color: #5283c5
		cursor: pointer
		padding: 10px 25px
		font-size: 16px
		color: #fff
		border: none
		border-radius: 6px
		&:hover
			background-color: darken(#5283c5, 15)








@import "shop"


//ALWAYS END
@import "media"
