@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.product__check::before, .product__delete::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #fff;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}

button:-internal-autofill-selected,
input:-internal-autofill-selected,
textarea:-internal-autofill-selected,
select:-internal-autofill-selected {
  background-color: transparent !important;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.main__inner {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.main__sidebar, .main__content {
  display: table-cell;
  vertical-align: top;
}

.main__sidebar {
  width: 30%;
}

.response {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.response__wrapper {
  height: 100%;
  width: 100%;
}

.response__inner {
  vertical-align: middle;
  padding: 15px;
}

.response__box {
  background-color: #fff;
  width: 100%;
  max-width: 570px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 45px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.response__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close-response.png);
  cursor: pointer;
}

.response__title {
  font-size: 30px;
  margin: 0 0 20px;
  color: #5283c5;
}

.response__text {
  font-size: 18px;
  color: #737373;
  margin: 0;
}

.case__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px;
}

.case__item {
  margin: 5px;
  max-width: -webkit-calc(33.33333% - 10px);
  max-width: calc(33.33333% - 10px);
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.product {
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  padding: 5px 5px 15px;
  position: relative;
}

.product:hover {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.product__pic {
  display: block;
  margin-bottom: 10px;
}

.product__name {
  margin-bottom: auto;
  font-size: 14px;
  padding: 0 10px;
  font-weight: 500;
  margin: 0 0 5px;
}

.product__cost {
  text-align: left;
  margin: 5px 0 0;
}

.product__cost-type {
  color: #727273;
  font-size: 10px;
  margin: 0 0 4px;
  display: block;
}

.product__cost-price {
  background-color: #354f99;
  background-image: -webkit-gradient(linear, left top, right top, from(#2b2e7c), to(#508dcb));
  background-image: -webkit-linear-gradient(left, #2b2e7c, #508dcb);
  background-image: -o-linear-gradient(left, #2b2e7c, #508dcb);
  background-image: linear-gradient(to right, #2b2e7c, #508dcb);
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 8px;
  display: inline-block;
  vertical-align: middle;
}

.product__cost-btn {
  color: #3a5ca4;
  background-color: transparent;
  border: 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  padding: 4px 8px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
}

.product__cost-btn:hover {
  background-color: #528fcd;
  color: #fff;
  border-color: #528fcd;
}

.product__check {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  background-color: #34c153;
  padding: 8px 15px;
  white-space: nowrap;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.product__check::before {
  content: '\e900';
  font-size: 25px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -2px;
  margin-right: 10px;
}

.product__check:hover {
  background-color: #248539;
}

.product__delete {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  background-color: transparent;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: #ff4343;
}

.product__delete::before {
  content: '\e901';
  font-size: 20px;
  line-height: 35px;
}

.product__delete:hover {
  color: #c30000;
}

.product.added {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product.added::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .5;
}

.product.added .product__check {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product.added:hover .product__delete {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.basket__empty {
  display: none;
  margin: 50px 0;
  text-align: center;
  font-size: 25px;
}

.basket__step {
  border: 1px solid #ebebeb;
}

.basket__step-title {
  background-color: #ebebeb;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 5px 100px 10px 10px;
  position: relative;
}

.basket__step-body {
  padding: 25px;
  overflow: hidden;
}

.basket__step + .basket__step {
  margin-top: 10px;
}

.basket__step.disabled .basket__step-body {
  display: none;
}

.basket__step.done .basket__step-body {
  display: block;
  padding: 10px 25px;
}

.basket__step.done .basket__next {
  display: none;
}

.basket__step.done .basket__group {
  margin: 0;
}

.basket__step.done .basket__group-field {
  width: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.basket__step.done .basket__group-label {
  margin: 0 5px 0 0;
  font-weight: 600;
}

.basket__step.done .basket__group-radio {
  padding: 0;
}

.basket__step.done .basket__group-helper, .basket__step.done .basket__group-error,
.basket__step.done .basket__group-label strong, .basket__step.done .basket__group-radio,
.basket__step.done .basket__group-radio input {
  display: none;
}

.basket__step.done .basket__group-label, .basket__step.done .basket__group-radio.checked, .basket__step.done .basket__group-field {
  display: inline-block;
  vertical-align: top;
}

.basket__step--basket.disabled .basket__step-body {
  display: block;
}

.basket__step--basket.disabled .basket__item-delete,
.basket__step--basket.disabled .basket__ok {
  display: none;
}

.basket__edit {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #578ecc;
  cursor: pointer;
  display: none;
}

.basket__edit:hover {
  text-decoration: underline;
}

.basket__next, .basket__ok {
  font-size: 16px;
  float: right;
  background-color: #5283c5;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  margin-top: 25px;
}

.basket__next:hover, .basket__ok:hover {
  background-color: #335e98;
}

.basket__ok {
  float: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.basket__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.basket__item + .basket__item {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #f1f1f1;
}

.basket__item-pic {
  width: 200px;
  margin-right: 15px;
}

.basket__item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.basket__item-name {
  font-size: 18px;
  color: #5583bc;
  margin: 0;
  font-weight: 500;
}

.basket__item-costType, .basket__item-quantity {
  font-size: 14px;
  color: #727273;
  margin: 5px 0 0;
}

.basket__item-costType strong, .basket__item-quantity strong {
  color: #222;
}

.basket__item-price {
  font-size: 24px;
  font-weight: 700;
  margin: auto 0 0;
  color: #222;
  padding-right: 30px;
}

.basket__item-delete {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  right: 0;
  background-color: transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: #ff4343;
  padding: 0;
}

.basket__item-delete:hover {
  text-decoration: underline;
}

.basket__total {
  color: #727273;
  font-size: 16px;
  text-align: right;
  margin: 25px 0 0;
}

.basket__total strong {
  color: #222;
  font-size: 28px;
}

.basket__group-label {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 500;
}

.basket__group-label strong {
  color: #ff0000;
}

.basket__group-field {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid transparent;
  background-color: #E8F0FE;
  font-size: 16px;
}

.basket__group-field:focus {
  border-color: #5283c5;
}

.basket__group-radio {
  padding-left: 10px;
}

.basket__group-radio input {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.basket__group-helper {
  font-style: italic;
  margin: 5px 0;
  font-size: 13px;
  color: #999;
}

.basket__group-error {
  display: none;
  font-size: 13px;
  font-weight: 500;
  margin: 5px 0 0;
  font-style: italic;
  color: #ff0000;
}

.basket__group.invalid .basket__group-error {
  display: block;
}

.basket__group + .basket__group {
  margin-top: 20px;
}

.basket.empty .basket__empty,
.basket.empty .basket__step--basket .basket__step-body {
  display: block;
}

.basket.empty .basket__step--delivery,
.basket.empty .basket__step--contacts,
.basket.empty .basket__ok,
.basket.empty .basket__total {
  display: none;
}

/* Desktop-frist */
@media only screen and (max-width: 991px) {
  /**/
}

/* Mobile-first */
@media only screen and (min-width: 992px) {
  /**/
}
