footer.footer
	.container
		.footer__inner
			a(href="").footer__logo
				img(src="img/logo.png", alt="")
			.footer__menu
				ul
					li
						a(href="") О лаборатории
					li
						a(href="") Наши работы
					li
						a(href="") Услуги и цены
			.footer__additional
				p.footer__additional-caption ПРАВОВАЯ ИНФОРМАЦИЯ
				ul
					li
						a(href="") Согласие на обработку персональных данных
					li
						a(href="") Политика конфиденциальности
					li
						a(href="") Реквизиты организации
				.footer__payments
					p.footer__payments-caption ОПЛАТА УСУЛУГ
					p.footer__payments-text Услуги стоматологической клиники «Валидент» — вы можете оплатить любым удобным для вас способом:
					.footer__payments-icons #[i]#[i]#[i]#[i]
					a(href="").footer__payments-credit Оплата в рассрочку
			.footer__contacts
				a.footer__contacts-phone(href="tel:+74952660607") +7 (495) 266 06 07
				p.footer__contacts-hours 9:00-21:00, СБ-ВС 10:00-20:00
				.footer__contacts-address
					p ул.Первомайская, д.60, к.1 
					p ул.Краснодонская, д.20, к.2
				button.footer__contacts-btn.btn.js-callback Обратный звонок
		p.footer__disclamer Информация, размещенная на сайте, не является публичной офертой. #[br]Актуальную информацию о ценах, акциях и предложениях уточняйте по телефону.

