ul.photoGallery
	li(data-thumb="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", data-src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg")
		img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")
	li(data-thumb="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", data-src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg")
		img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")
	li(data-thumb="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", data-src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg")
		img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")
	li(data-thumb="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", data-src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg")
		img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")