header.header
	.container
		.header__inner
			a(href="/").header__logo
				img(src="img/logo.jpg", alt="LabPrestige")
			.header__contacts
				.header__address
					p ул.Первомайская, д.60, к.1
					p ул.Краснодонская, д.20, к.2
				.header__phone
					a(href="tel:+74952660607") +7 (495) 266 06 07
					p 9:00-21:00, СБ-ВС 10:00-20:00
			.header__cb
				button.btn.btn--ghost.js-callback Обратный звонок
			.header__lk.lk
				a(href="").lk__item.lk__item--lk Личный кабинет
				button.lk__item.lk__item--reg Регистрация
				a(href="basket.html").lk__item.lk__item--basket Корзина
			button.header__burger Меню