.mobileMenu
	.mobileMenu__section
		.lk
			a(href="").lk__item.lk__item--lk Личный кабинет
			button.lk__item.lk__item--reg Регистрация
			a(href="basket.html").lk__item.lk__item--basket Корзина
	.mobileMenu__section
		.mobileMenu__main
			ul
				li
					a(href="pricelist.html") Услуги и цены
				li
					a(href="gallery.html") Наши работы
				li
					a(href="equipment.html") Наше оборудование
				li
					a(href="contacts.html") Контакты
	.mobileMenu__section
		.mobileMenu__phone
			a(href="tel:+74952660607") +7 (495) 266 06 07
			p 9:00-21:00, СБ-ВС 10:00-20:00
		.mobileMenu__address
			p ул.Первомайская, д.60, к.1
			p ул.Краснодонская, д.20, к.2
		.mobileMenu__cb.btn.btn--ghost.js-callback Обратный звонок