nav.nav
	.container
		.nav__inner
			a(href="pricelist.html").nav__item.nav__item--hasSubMenu Услуги и цены
			a(href="gallery.html").nav__item Наши работы
			a(href="equipment.html").nav__item Наше оборудование
			a(href="contacts.html").nav__item Контакты
		.nav__menu