nav.nav
	.container
		.nav__inner
			a(href="").nav__item.nav__item--hasSubMenu Услуги и цены
			a(href="").nav__item Наши работы
			a(href="list.html").nav__item Список систем
			a(href="").nav__item Наше оборудование
			a(href="contacts.html").nav__item Контакты
		.nav__menu