.callback.overlay
	table.callback__wrapper
		tbody
			tr
				td.callback__inner
					form.callback__box.overlay-inner
						button(type="button").callback__close.overlay-close
						p.callback__title Обратный звонок
						p.callback__text Перезвоним в удобное для Вас время
						.callback__tail
							.callback__group
								label.callback__label Ваше имя #[strong *]
								input(type="text").callback__field
							.callback__group
								label.callback__label Контактный телефон #[strong *]
								input(type="tel").callback__field
							.callback__group
								label.callback__label Сообщение
								textarea(rows="2").callback__field
						button.callback__submit Отправить запрос


.registration.overlay
	table.registration__wrapper
		tbody
			tr
				td.registration__inner
					form.registration__box.overlay-inner
						button(type="button").registration__close.overlay-close
						p.registration__title Регистрация
						.registration__tail
							.registration__group
								label.registration__label Ваше имя #[strong *]
								input(type="text").registration__field
							.registration__group
								label.registration__label Контактный телефон #[strong *]
								input(type="tel").registration__field
							.registration__group
								label.registration__label E-mail #[strong *]
								input(type="email").registration__field
						button.registration__submit Отправить запрос



.response.response--success.overlay
	table.response__wrapper
		tbody
			tr
				td.response__inner
					.response__box
						button.response__close
						p.response__title Ваша заявка принята
						p.response__text Спасибо за ваше доверие! В ближайшее время мы вам перезвоним.

.response.response--error.overlay
	table.response__wrapper
		tbody
			tr
				td.response__inner
					.response__box
						button.response__close
						p.response__title Ошибка
						p.response__text Что-то пошло не так. Пожалуйста, свяжитесь с нами удобным для вас способом.

.implants.overlay
	table.implants__wrapper
		tbody
			tr
				td.implants__inner
					.implants__box.overlay-inner
						button.implants__close.overlay-close
						p.implants__title Перечень фрезеруемых систем имплантов
						.implants__list
							ul
								li Alpha Bio Neo
								li Alpha Bio Neo
								li Alpha Bio Neo
								li Alpha Bio Neo #[em (модификация под диск)]
								li Alpha Bio Neo
								li Strauman BonLevel RC
								li Alpha Bio Neo
								li Astra MU 20; Astra MU 45
								li Alpha Bio Neo
								li Alpha Bio Neo
		
button.pbm.js-callback