ul.menu
	li.menu__item.active ДИОКСИД ЦИРКОНИЯ ZrO2
		ul.subMenu
			li.menu__item #[a(href="single.html") ZrO2 для каркасов CAD/CAM]
			li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
			li.menu__item #[a(href="single.html") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
			li.menu__item #[a(href="single.html") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
			li.menu__item #[a(href="single.html") Послойноокрашенный  ZrO2 (3D Multilayer) CAD/CAM]
			li.menu__item #[a(href="single.html") Послойноокрашенный  ZrO2 на имплантах (3D Multilayer) CAD/CAM]
	li.menu__item #[a(href="single.html") ТИТАН Ti]
		ul.subMenu
			li.menu__item #[a(href="single.html") ZrO2 для каркасов CAD/CAM]
			li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
			li.menu__item #[a(href="single.html") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
			li.menu__item #[a(href="single.html") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
	li.menu__item #[a(href="single.html") КОБАЛЬТ ХРОМ CoCr]
		ul.subMenu
			li.menu__item #[a(href="single.html") ZrO2 для каркасов CAD/CAM]
	li.menu__item #[a(href="single.html") ВОСК WAX]
	li.menu__item #[a(href="single.html") ТRINIA]
	li.menu__item #[a(href="single.html") 3D ПЕЧАТЬ]
	li.menu__item #[a(href="single.html") ЛИТЬЕ]
	li.menu__item #[a(href="single.html") ПРЕССКЕРАМИКА eMax]
	li.menu__item #[a(href="single.html") ИНЖЕКЦИОННОЕ ПРЕССОВАНИЕ]
	li.menu__item #[a(href="single.html") ДОПОЛНИТЕЛЬНЫЕ ЗУБОТЕХНИЧЕСКИЕ РАБОТЫ]
	li.menu__item #[a(href="single.html") КОМПЛЕКТУЮЩИЕ]
	li.menu__item #[a(href="single.html") АРЕНДА МЕСТА]