ul.menu
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
		ul.subMenu
			li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
			li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
			li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
			li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
			li.menu__item #[a(href="") Послойноокрашенный  ZrO2 (3D Multilayer) CAD/CAM]
			li.menu__item #[a(href="") Послойноокрашенный  ZrO2 на имплантах (3D Multilayer) CAD/CAM]
	li.menu__item #[span ДИОКСИД ЦИРКОНИЯ ZrO2]
		ul.subMenu
			li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
			li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
			li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
			li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
		ul.subMenu
			li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
		ul.subMenu
			li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
			li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
			li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
			li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
		ul.subMenu
			li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
	li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]