doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.main
				.container
					.main__inner
						.main__sidebar
						.main__content
							form(action="", method="post").basket
								.basket__step.basket__step--delivery
									p.basket__step-title Регион доставки
										button(type="button").basket__edit Изменить
									.basket__step-body
										.basket__group
											p.basket__group-label Тип плательщика
											.basket__group-radio.checked
												input(type="radio", name="role", value="1", checked, required)
												| Физическое лицо
											.basket__group-radio
												input(type="radio", name="role", value="2", required)
												| Юридическое лицо
										.basket__group
											p.basket__group-label #[strong *] Местопложение
											p.basket__group-helper Местоположение определено автоматически. Если не верно, введите название своего города.
											input(type="text", name="location", required).basket__group-field
										button(type="button").basket__next Далее
								.basket__step.basket__step--contacts.disabled
									p.basket__step-title Данные покупателя
										button(type="button").basket__edit Изменить
									.basket__step-body
										.basket__group
											p.basket__group-label #[strong *] ФИО
											input(type="text", name="fio", required).basket__group-field
										.basket__group
											p.basket__group-label #[strong *] E-mail
											input(type="email", name="mail", required).basket__group-field
										.basket__group
											p.basket__group-label #[strong *] Телефон
											input(type="tel", name="phone", required).basket__group-field
										.basket__group
											p.basket__group-label Комментарии к доставке
											textarea(rows=3, name="comments").basket__group-field
										button(type="button").basket__next Далее
								.basket__step.basket__step--basket.disabled
									p.basket__step-title Товары в заказе
									.basket__step-body
										.basket__list
										p.basket__empty Корзина пуста
										p.basket__total Всего на сумму: #[strong #[span.js-basketTotal 0 ] руб.]
										button.basket__ok(type="button") Оформить заказ

			.response.response--success
				table.response__wrapper
					tbody
						tr
							td.response__inner
								.response__box
									button.response__close
									p.response__title Ваша заявка принята
									p.response__text Спасибо за ваше доверие! В ближайшее время мы вам перезвоним.

			.response.response--error
				table.response__wrapper
					tbody
						tr
							td.response__inner
								.response__box
									button.response__close
									p.response__title Ошибка
									p.response__text Что-то пошло не так. Пожалуйста, свяжитесь с нами удобным для вас способом.

		
		script(src="js/basket.js")
		script(src="js/js.cookie.js")
