doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		include _mobilenav
		.w-page
			include _header
			include _nav
			section.main
				.container
					.main__inner
						aside.main__sidebar
							include _sidebar
						article.main__content
							form(action="", method="post").basket

								p.basket__empty Корзина пуста
								.basket__step.basket__step--delivery
									p.basket__step-title Регион доставки
										button(type="button").basket__edit Изменить
									.basket__step-body
										.basket__group
											p.basket__group-label Тип плательщика
											.basket__group-radio.checked
												input(type="radio", name="role", value="1", checked, required)
												| Физическое лицо
											.basket__group-radio
												input(type="radio", name="role", value="2", required)
												| Юридическое лицо
										.basket__group
											p.basket__group-label #[strong *] Местопложение
											p.basket__group-helper Местоположение определено автоматически. Введите верный город при необходимости.
											input(type="text", name="location", required).basket__group-field
										button(type="button").basket__next Далее
								.basket__step.basket__step--contacts.disabled
									p.basket__step-title Данные покупателя
										button(type="button").basket__edit Изменить
									.basket__step-body
										.basket__group
											p.basket__group-label #[strong *] ФИО
											input(type="text", name="fio", required).basket__group-field
										.basket__group
											p.basket__group-label #[strong *] E-mail
											input(type="email", name="mail", required).basket__group-field
										.basket__group
											p.basket__group-label #[strong *] Телефон
											input(type="tel", name="phone", required).basket__group-field
										.basket__group
											p.basket__group-label Комментарии к доставке
											textarea(rows=3, name="comments").basket__group-field
										button(type="button").basket__next Далее
								.basket__step.basket__step--basket.disabled
									p.basket__step-title Товары в заказе
									.basket__step-body
										.basket__list
										p.basket__total Всего на сумму: #[strong #[span.js-basketTotal 0 ] руб.]
										button.basket__ok(type="button") Оформить заказ

			include _footer

		include _popups
				
		script(src="js/lightgallery.min.js")
		script(src="js/lightslider.min.js")
		script(src="js/common.js")
		
		script(src="js/basket.js")
		script(src="js/js.cookie.js")
