doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900")
		link(rel='stylesheet', href='css/lightgallery.min.css')
		link(rel='stylesheet', href='css/lightslider.min.css')
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			include _header
			include _nav
			section.main
				.container
					.main__inner
						aside.main__sidebar
							include _sidebar
						article.main__content
							include _search
							h1.main__title Наши работы
							.portfolio
								div(data-src="img/1.jpg", data-thumb="img/1.jpg", data-sub-html="<h4>Может быть заголовк</h4><p>И описание</p>")
									img(src="img/1.jpg", alt="")
								div(data-src="img/2.jpg", data-thumb="img/2.jpg")
									img(src="img/2.jpg", alt="")
								div(data-src="img/3.jpg", data-thumb="img/3.jpg")
									img(src="img/3.jpg", alt="")
								div(data-src="img/4.jpg", data-thumb="img/4.jpg")
									img(src="img/4.jpg", alt="")
								div(data-src="img/5.jpg", data-thumb="img/5.jpg")
									img(src="img/5.jpg", alt="")
								div(data-src="img/6.jpg", data-thumb="img/6.jpg")
									img(src="img/6.jpg", alt="")
								div(data-src="img/7.jpg", data-thumb="img/7.jpg")
									img(src="img/7.jpg", alt="")
								div(data-src="img/8.jpg", data-thumb="img/8.jpg")
									img(src="img/8.jpg", alt="")
								div(data-src="img/9.jpg", data-thumb="img/9.jpg")
									img(src="img/9.jpg", alt="")
								div(data-src="img/10.jpg", data-thumb="img/10.jpg")
									img(src="img/10.jpg", alt="")
							include _gallery
							include _contacts

			include _footer
			
		script(src="js/lightgallery.min.js")
		script(src="js/lightslider.min.js")
		script(src="js/common.js")
