doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/lightgallery.min.css')
		link(rel='stylesheet', href='css/lightslider.min.css')
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			include _header
			include _nav
			
			section.main
				.container
					.main__inner
						aside.main__sidebar
							include _sidebar
						article.main__content
							//- include _search
							.hero
								img(src="img/hero.jpg", alt="") 
								p.hero__text ЦИРКОНОВЫЕ КАРКАСЫ #[br]ТИТАНОВЫЕ ОСНОВАНИЯ #[br]АБАТМЕНТЫ 
									button.hero__btn.js-callback Обратный звонок
							.content
								h1 Стоматологическая клиника ValiDent — стремление к совершенству
								p Один из основных принципов медицины — это постоянное развитие и применение самых современных технологий. Стоматология ValiDent сделала этот принцип основополагающим в своей работе.
								p ValiDent — это уникальное сочетание работы высококвалифицированных молодых врачей и современного оборудования. Новейшие методы диагностики позволяют разработать для наших клиентов подробный индивидуальный план лечения.
								p Мы уделяем особое внимание профилактике заболеваний полости рта, поэтому в нашей клинике проводится индивидуальный комплекс SPA-процедур, направленных на поддержание здоровья ваших зубов.
								p Все наши технологии направлены на улучшение и облегчение процесса лечения. Например, технология ICON от немецкой фирмы DMG позволяет вылечить кариес без сверления, а профессиональная система гигиены Clinpro делает процесс чистки даже самых чувствительных зубов полностью безболезненным.
								p С помощью собственной 3D-зуботехнической лаборатории CAD/CAM мы производим даже самые сложные ортопедические конструкции. Для нас нет ничего невозможного!
								h2 Наши главные преимущества
								ul
									li современное оборудование;
									li специалисты с опытом работы более 8 лет;
									li собственная зуботехническая лаборатория;
									li отделение детской стоматологии;
									li отдел косметологии;
									li индивидуальный комплекс SPA-процедур;
									li привлекательные цены.
								h2 Специализация стоматологии на Первомайской
								p Клиника ValiDent занимается протезированием, устанавливает имплантаты, делает синус-лифтинг, качественно лечит зубы с каналами, безболезненно удаляет зубы любой сложности. Мы успешно исправляем прикус — с помощью брекет-систем и элайнеров Invisalign и 3D Smile. Мы также проводим комплексную профессиональную чистку зубов системами Air Flow, Clinpro и У3.
								p Особым вниманием и заботой в клинике ValiDent окружены беременные женщины, для них мы разработали особую систему лечения по триместрам.
								p К каждому пациенту наши врачи находят индивидуальный подход: учитывают свободное время, физиологические особенности, финансовые возможности человека.
								p  Наши стоматологи — не только профессионалы своего дела, но и просто замечательные люди, общение с которыми помогает посетителям расслабиться и чувствовать себя в клинике комфортно. Многочисленные отзывы благодарных пациентов это подтверждают. Наша клиника — это то, что вам нужно!

							include _gallery
							include _contacts

			include _footer
			
		script(src="js/lightgallery.min.js")
		script(src="js/lightslider.min.js")
		script(src="js/common.js")
