doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			header.header
				.container
					.header__inner
						.header__logo
							img(src="img/logo.jpg", alt="LabPrestige")
						.header__contacts
							.header__address
								p ул.Первомайская, д.60, к.1
								p ул.Краснодонская, д.20, к.2
							.header__phone
								a(href="tel:+74952660607") +7 (495) 266 06 07
								p 9:00-21:00, СБ-ВС 10:00-20:00
						.header__cb
							button.btn.btn--ghost Обратный звонок
						.header__lk.lk
							a(href="").lk__item.lk__item--lk Личный кабинет
							a(href="").lk__item.lk__item--reg Регистрация
							a(href="").lk__item.lk__item--basket Корзина

			nav.nav
				.container
					.nav__inner
						a(href="").nav__item.nav__item--hasSubMenu Услуги и цены
						a(href="").nav__item Наши работы
						a(href="").nav__item Список систем
						a(href="").nav__item Наше оборудование
						a(href="").nav__item Контакты
					.nav__menu
						ul.menu
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								ul.subMenu
									li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
									li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
									li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
									li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
									li.menu__item #[a(href="") Послойноокрашенный  ZrO2 (3D Multilayer) CAD/CAM]
									li.menu__item #[a(href="") Послойноокрашенный  ZrO2 на имплантах (3D Multilayer) CAD/CAM]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								ul.subMenu
									li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
									li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
									li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
									li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								ul.subMenu
									li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								ul.subMenu
									li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
									li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
									li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
									li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								ul.subMenu
									li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
							li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]

			.main
				.container
					.main__inner
						.main__sidebar
							ul.menu
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
									ul.subMenu
										li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
										li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
										li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
										li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
										li.menu__item #[a(href="") Послойноокрашенный  ZrO2 (3D Multilayer) CAD/CAM]
										li.menu__item #[a(href="") Послойноокрашенный  ZrO2 на имплантах (3D Multilayer) CAD/CAM]
								li.menu__item #[span ДИОКСИД ЦИРКОНИЯ ZrO2]
									ul.subMenu
										li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
										li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
										li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
										li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
									ul.subMenu
										li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
									ul.subMenu
										li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
										li.menu__item.active ZrO2 для каркасов на имплантах CAD/CAM
										li.menu__item #[a(href="") Высокотранслюценный ZrO2 (Prettau) CAD/CAM]
										li.menu__item #[a(href="") Высокотранслюценный ZrO2 на имплантах (Prettau) CAD/CAM]
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
									ul.subMenu
										li.menu__item #[a(href="") ZrO2 для каркасов CAD/CAM]
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
								li.menu__item #[a(href="") ДИОКСИД ЦИРКОНИЯ ZrO2]
						.main__content
							.search
								input(type="text")
							ul.photoGallery
								li
									img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")
								li
									img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")
								li
									img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")
								li
									img(src="http://valident.ru/wp-content/uploads/2018/07/stomatologiya_valident-_29_.jpg", alt="")




		script(src="js/common.js")
