doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900")
		link(rel='stylesheet', href='css/lightgallery.min.css')
		link(rel='stylesheet', href='css/lightslider.min.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		include _mobilenav
		.w-page
			include _header
			include _nav
			section.main
				.container
					.main__inner
						aside.main__sidebar
							include _sidebar
						article.main__content
							include _search
							h1.main__title Прайс-лист
							button.showImplantList.js-openlist Перечень фрезеруемых систем имплантов
							.priceTable
								.priceTable__category(data-link="single.html", title="Перейти на страницу с товарами") ZrO2 для каркасов CAD/CAM
								.priceTable__body
									.priceTable__row(data-id="radfbvf")
										.priceTable__name Zimmer, Mis, AlphaBio, Adin, BioGorizont, Conmet
										.priceTable__order
											.priceTable__cost(data-cost-type="по stl файлу")
												.priceTable__pricetype По STL файлу
												.priceTable__price 1500
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")
											.priceTable__cost(data-cost-type="с уровня модели")
												.priceTable__pricetype С уровня модели
												.priceTable__price 43534
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")
									.priceTable__row(data-id="nzf")
										.priceTable__name Zimmer, Mis, AlphaBio, Adin, BioGorizont, Conmet
										.priceTable__order
											.priceTable__cost(data-cost-type="с уровня модели")
												.priceTable__pricetype С уровня модели
												.priceTable__price 43534
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")
									.priceTable__row(data-id="hzdfbz")
										.priceTable__name Индивидуальный абатмент ZrO2 Prettau на титановом основании
										.priceTable__order
											.priceTable__cost(data-cost-type="по stl файлу")
												.priceTable__pricetype По STL файлу
												.priceTable__price 1500
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")
											.priceTable__cost(data-cost-type="с уровня модели")
												.priceTable__pricetype С уровня модели
												.priceTable__price 345
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")

													
							.priceTable
								.priceTable__category(data-link="single.html", title="Перейти на страницу с товарами") Высокотранслюценный ZrO2 (Prettau) CAD/CAM Высокотранслюценный ZrO2 (Prettau) CAD/CAM
								.priceTable__body
									.priceTable__row(data-id="fbdfb")
										.priceTable__name Zimmer, Mis, AlphaBio, Adin, BioGorizont, Conmet
										.priceTable__order
											.priceTable__cost
												.priceTable__price 1500
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")
									.priceTable__row(data-id="dfbadf")
										.priceTable__name Индивидуальный абатмент ZrO2 Prettau на титановом основании
										.priceTable__order
											.priceTable__cost(data-cost-type="по stl файлу")
												.priceTable__pricetype По STL файлу
												.priceTable__price 1500
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")
									.priceTable__row(data-id="WE")
										.priceTable__name Индивидуальный абатмент ZrO2 Prettau на титановом основании
										.priceTable__order
											.priceTable__cost
												.priceTable__price 1500
												button.priceTable__btn Заказать
												a(href="basket.html").priceTable__added В корзине
												button.priceTable__delete(title="Удалить из корзины")

							include _gallery
							include _contacts

			include _footer

		include _popups
			
		script(src="js/lightgallery.min.js")
		script(src="js/lightslider.min.js")
		script(src="js/common.js")

		script(src="js/basket.js")
		script(src="js/js.cookie.js")