doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			include _header
			include _nav
			section.main
				.container
					.main__inner
						aside.main__sidebar
							include _sidebar
						article.main__content
							button.js-clear очистить
							include _search
							h1.main__title ZrO2 для каркасов на имплантах CAD/CAM
							.case
								.case__list
									.case__item.product(data-id="6541561")
										a(href="basket.html", title="Просмотреть корзину").product__check В корзине
										button.product__delete(title="Удалить из корзины")
										img.product__pic(src="img/pic-1.jpg", alt="")
										p.product__name Каркас Ti любой протяжённости
										p.product__cost
											span.product__cost-type По STL файлу
											strong.product__cost-price 600 руб.
											button.product__cost-btn Заказать
										p.product__cost
											span.product__cost-type С уровня модели
											strong.product__cost-price 9000 руб.
											button.product__cost-btn Заказать
									.case__item.product(data-id="3516561")
										a(href="basket.html", title="Просмотреть корзину").product__check В корзине
										button.product__delete(title="Удалить из корзины")
										img.product__pic(src="img/pic-2.jpg", alt="")
										p.product__name Каркас Ti анатомической формы протяженностью до 6 единиц
										p.product__cost
											span.product__cost-type По STL файлу
											strong.product__cost-price 600 руб.
											button.product__cost-btn Заказать
										p.product__cost
											span.product__cost-type С уровня модели
											strong.product__cost-price 900 руб.
											button.product__cost-btn Заказать
									.case__item.product(data-id="46589")
										a(href="basket.html", title="Просмотреть корзину").product__check В корзине
										button.product__delete(title="Удалить из корзины")
										img.product__pic(src="img/pic-3.jpg", alt="")
										p.product__name Каркас мостовидного протеза, протяженностью до 6 ед.
										p.product__cost
											span.product__cost-type По STL файлу
											strong.product__cost-price 600 руб.
											button.product__cost-btn Заказать
										p.product__cost
											span.product__cost-type С уровня модели
											strong.product__cost-price 900 руб.
											button.product__cost-btn Заказать
									.case__item.product(data-id="98163210")
										a(href="basket.html", title="Просмотреть корзину").product__check В корзине
										button.product__delete(title="Удалить из корзины")
										img.product__pic(src="img/pic-3.jpg", alt="")
										p.product__name Каркас мостовидного протеза, протяженностью до 6 ед.
										p.product__cost
											span.product__cost-type По STL файлу
											strong.product__cost-price 600 руб.
											button.product__cost-btn Заказать
										p.product__cost
											span.product__cost-type С уровня модели
											strong.product__cost-price 900 руб.
											button.product__cost-btn Заказать

							.priceTable
								.priceTable__head
									.priceTable__row
										.priceTable__category Система имплантов
										.priceTable__costType.priceTable__costType--stl По STL файлу
										.priceTable__costType.priceTable__costType--model С уровня модели
										.priceTable__cell
								.priceTable__body
									.priceTable__row(data-id="nzf")
										.priceTable__name Zimmer,Mis, AlphaBio, Adin, BioGorizont, Conmet
										.priceTable__price.priceTable__price--stl 1100 руб.
										.priceTable__price.priceTable__price--model 1835 руб.
										a(href="basket.html").priceTable__added В корзине
										button.priceTable__btn Заказать
									.priceTable__row(data-id="dfbdfb")
										.priceTable__name Niko 
										.priceTable__price.priceTable__price--stl 1100 руб.
										.priceTable__price.priceTable__price--model 1500 руб.
										a(href="basket.html").priceTable__added В корзине
										button.priceTable__btn Заказать
									.priceTable__row(data-id="q3r2YHRB")
										.priceTable__name Ankylos
										.priceTable__price.priceTable__price--stl 1100 руб.
										.priceTable__price.priceTable__price--model 1500 руб.
										a(href="basket.html").priceTable__added В корзине
										button.priceTable__btn Заказать
									.priceTable__row(data-id="UKMSW5UAT")
										.priceTable__name Nobel Replace, Nobel Active,Xive, Astra tech, BegoSemados, IСX 
										.priceTable__price.priceTable__price--stl 1100 руб.
										.priceTable__price.priceTable__price--model 1500 руб.
										a(href="basket.html").priceTable__added В корзине
										button.priceTable__btn Заказать

			include _footer
			
		script(src="js/lightgallery.min.js")
		script(src="js/lightslider.min.js")
		script(src="js/common.js")

		script(src="js/basket.js")
		script(src="js/js.cookie.js")
